# A note about accessing the course files through Github

All of the lectures notes will be posted on the [class Github repo](https://github.com/iamwfx/4680_5680_intro_uds). 

We are (probably) not going over git and Github during class. If you're familiar with git/Github, feel free to clone the repo to get the new lecture materials for each class. Otherwise, I recommend you do the following: 
- Create class folder and name it `Intro_UDS`
- For each week, create a folder called `Week1`, `Week2`, etc. 
- To download the materials (Juputer notebook, data files, etc.), navigate to the file you want to download and select `Raw` above the view of the file. 
- Save this "raw" file in your class folder and **make sure it is in the proper file format**. For instance, if the file is `.ipynb` make sure you save the downloaded file as `.ipynb` (your computer might try to default to `.txt`.)

# Learning goals
After this week's lesson you should be able to:
- Explain what a Pandas Series is and how to select, filter, and replace values in the series 
- Read and explore tabular data in Python using a Pandas DataFrame
- Read and write datasets

This week's lessons are adapted from:
- [Geo-Python Lesson 5](https://geo-python-site.readthedocs.io/en/latest/lessons/L5/overview.html)
- [Practical Data Sciece on Pandas DataFrames](https://www.practicaldatascience.org/html/30_pandas_dataframes.html)

# Grading
As a reminder, your in-class exercises will be graded on completion.

# Installing Pandas
- First we'll need to install the `pandas` library if you are still using the `gds_py_reduced.yml` file that Jacob shared with you earlier today. 
- You can either do this in the Anaconda Navigator or 
- In your jupyter notebook, type 
```
    `!pip install pandas` 
```

In [1]:
# The ! in front of pip is a special Jupyter Notebook command that allows you to run terminal commands from the notebook.
!pip install pandas

Requirement already satisfied: pandas in /Users/wenfeixu/anaconda3/envs/gds_py/lib/python3.9/site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/wenfeixu/anaconda3/envs/gds_py/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/wenfeixu/anaconda3/envs/gds_py/lib/python3.9/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.20.3 in /Users/wenfeixu/anaconda3/envs/gds_py/lib/python3.9/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /Users/wenfeixu/anaconda3/envs/gds_py/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [71]:
### Let's first import the pandas library
### We will use the alias pd for pandas to make it easier to type. 
import pandas as pd

# 0. What is Pandas? 

[Pandas](http://pandas.pydata.org/) is a widely used Python library for data analysis. 

### Easy-to-use data structures
In pandas, the data is typically stored in a data structure called a
DataFrame that looks like a typical table with rows and columns (+
indices and column names), where columns can contain data of different
data types. Thus, it is similar in some sense to how data is stored in
Excel or in R, which also uses a concept of a dataframe. In fact, Wes
McKinney first [developed pandas as an alternative for
R](https://blog.quantopian.com/meet-quantopians-newest-advisor-wes-mckinney/)
to deal with different complex data structures.

### Summary of the pandas data structure
The below is a picture of how data is structured in a dataframe. You can see it is tabular structure with rows, columns, and a (row) index, which is in many ways similar to what you might be familiar with from a Excel or Google Spreadsheets. Using this structure, we can use operations like arithmetic, columns and rows selection, columns and rows addition etc.

![Alt text](img/creating_dataframe1.png)

### Combines functionalities from many Python modules

pandas takes advantage of the [NumPy](http://www.numpy.org/) module
under the hood, which is mostly written in C. This makes it a fast and
powerful library that can efficiently handle even very large datasets.
pandas offers an easier and more intuitive syntax to do data analysis
and manipulation using either Numpy functionalities in the background or dedicated functionalities written explicitly for pandas.

 However, pandas is much more than an easier-to-use Numpy as it also combines many functionalities from other Python libraries such as [matplotlib (plotting)](https://matplotlib.org/) and [scipy(mathematics, science, engineering)](https://www.scipy.org/). Thus, you can use many of the features included in those packages without importing them at all.

### Supports data read/write from multiple formats
One of the most useful features of pandas is its ability to read data
from numerous different data formats directly. For example, pandas
supports reading and writing data from/to:

-   CSV
-   JSON
-   HTML
-   MS Excel
-   HDF5
-   Stata
-   SAS
-   Python Pickle format
-   SQL (Postgresql, MySQL, Oracle, MariaDB, etc.)

You can view the full list of supported data formats from the [pandas
docs](https://pandas.pydata.org/docs/user_guide/io.html).

# 1. DataFrames
Pandas DataFrames are tabular (as in table) data consisting of a collection of Series in which each column is a Pandas series. It is the central data structure used in most analysis using the Pandas library.

First, let's read in our data using the pandas function `.read_csv()`. 

One of the nifty things about reading data in pandas is that it's designed to read many different types data sources, from files, to QL databases, and URLs. Here are a few to know about: 
- `pd.read_csv`: Read in a comma-separated-value file
- `pd.read_excel`: Read in an Excel (`.xls` and `.xlsx`) spreadsheet
- `pd.read_stata`: Read Stata (`.dta`) datasets
- `pd.read_hdf`: Read HDF (`.hdf`) datasets
- `pd.read_sql`: Read from a SQL database
- `pd.read_html`: Read from the `html` tags of an HTML file

Similarly, you can write a dataframe to many formats: (`df` here is the name of a dataframe)
- `df.to_csv`: Write to a comma-separated-value file
- `df.to_excel`: Write to an Excel (.xls and .xlsx) spreadsheet
- `df.to_stata`: Write to a stata (.dta) dataset
- `df.to_hdf`: Write to an HDF (.hdf) dataset
- `df.to_sql`: Write to a SQL database
- `df.to_html`: Write to an HTML table. 


Check out the [Pandas documentation on input/output](https://pandas.pydata.org/docs/reference/io.html) to see all the possible functions for reading data.

## 1.1 Reading a file
Download the `msa_by_pop.csv` in this week's folder. We are first going to read this CSV as DataFrame into Pandas.

The function `.read_csv()` takes a file path as a string (read: text). If you have saved `msa_by_pop.csv` in the same folder as this notebook, then all you will need to input as your path is `msa_by_pop.csv`. 

(If you had saved your CSV within a sub-directory called `Data`, then to access this data file you'd need to input `Data/msa_by_pop.csv`)

In [ ]:
msa_by_pop = pd.read_csv('msa_by_pop.csv')

In [ ]:
msa_by_pop

## 1.2 File Paths
`'msa_by_pop.csv'` is our file path. A file path is a string that tells the computer where to find a file. The file path above is a relative path, meaning it is relative to the location of this notebook. If you move this notebook to a different folder, the relative path will no longer work. An absolute path is a path that is not relative to the location of the notebook. An absolute path will work no matter where the notebook is located

In [ ]:
# For my computer, I can also read in the same dataset by using the absolute path.
msa_by_pop = pd.read_csv('/Users/wenfeixu/Documents/GITHUB/4680_5680_intro_uds/Week1/msa_by_pop.csv')

In [ ]:
msa_by_pop

## 1.3 Exploring our data
You can see here that (in addition to the formatting of tabular data in Jupyter) the main difference between this and a series is that we have multiple columns with column labels. So the dataframe structure consists of: 
- An index, with index labels (here the labels are just `0`,`1`,...,`383`)
- Columns, with column labels (here `MSA`, `population_2020`,`perc_change`)
- And the data, which are the values in each row.

We can use `.index` to get all the index values in the dataframe.

In [ ]:
msa_by_pop.index
## Ok, here it's just the RangeIndex, which is the default index for pandas dataframes. 
## Pandas isn't printing the entire index, but we can see that it starts at 0 and ends at 384.

Now, in addition to `.index` we can also see all the columns in our DataFrame:

In [ ]:
msa_by_pop.columns

Now, to see the datatypes for each column, we use `.dtypes`

In [ ]:
msa_by_pop.dtypes

One common function used to explore the data is called `.head()` that reveals the first 5 rows of the Dataframe.

In [ ]:
msa_by_pop.head()

If you start to type `msa_by_pop.head(` without finishing the parens you can see the inputs required of the function: 


<img src="img/func_arg.png" alt="drawing" width="400" style="display: block; margin: 0 auto"/>


This shows us that that `.head()` by default show 5 rows, but you can also optionally adjust this by specifying another integer. For instance:

In [ ]:
## This gives us the first 10 rows
msa_by_pop.head(10)

`.sample()` gives us a random selection of rows.

In [ ]:
msa_by_pop.sample(10)

The function `.shape` gives us the number of `(rows,columns)` in our dataframe:

In [ ]:
msa_by_pop.shape

The function `.len()` measures the length of a selection. Applying this to the DataFrame gives you the number of rows:

In [ ]:
len(msa_by_pop)

Applying it to the columns gives us the number of columns we have

In [ ]:
len(msa_by_pop.columns)

`.describe()` provides some basic descriptive statistics for our dataframe:

In [ ]:
msa_by_pop.describe()

`.sort-values()` sorts your DataFrame by a certain column. If you column is numeric, it will sort the values from smallest to largest. If your column is a string, it will sort alphabetically.

The index values will be sorted along with the rows.

In [ ]:
# This sorts the dataframe by the population_2021_est column, from smallest to largest
# Note that the original dataframe is not changed 
# but that the index values now reflect the sorted order. 
msa_by_pop.sort_values('population_2020')

Adding the `ascending=False` input in your function will sort from largest to smallest or end of alphabet to beginning, depending on your column data type.

In [ ]:
msa_by_pop.sort_values('population_2020',ascending=False)

## 2.4 Selecting columns and rows
Since we have column and row indexes, we can select subsets of the dataframe using the .loc method.
Let's select the row with index value 0, and all columns

In [ ]:
msa_by_pop.loc[0,:]

For `.iloc` we can select rows and columns now by their position.

In [ ]:
# Remember integer ranges are exclusive of the last value!
msa_by_pop.iloc[0:5,0:3]

Similarly, using `.loc` we can select rows and columns by their names.

In [ ]:
# Since our rows are index by integers, when we can use the .loc method to select rows, 
# it's the same as .iloc
msa_by_pop.loc[0:5,['Rank','MSA','population_2020']]

You can always leave out the column argument in either `.loc` or `.iloc` in order to select all columns.

In [ ]:
msa_by_pop.iloc[0:5]

In [ ]:
msa_by_pop.loc[0:5]

But to do the same with columns you'll first have to specify that you want all the rows with `:` .

In [ ]:
msa_by_pop.loc[:,['Rank']]

In [ ]:
msa_by_pop.iloc[:,[0]]

With the square brackets `[]` you can provide a row or column.

In [ ]:
msa_by_pop['Rank']

If you put the column name in a list, you get back a dataframe instead of a series.

In [ ]:
msa_by_pop[['Rank']]

This list can have more than one element, of course.

In [ ]:
msa_by_pop[['Rank','population_2020']]

## 2.5 Filtering
We can filter the dataframe by expressions. Filtering in pandas is done with a boolean expression. The expression is evaluated for each row in the dataframe, and only rows where the expression evaluates to `True` are returned.

In [ ]:
# A boolean expression is one that evaluates to either True or False.
# Here we are asking if the value in the Rank column is greater than 300.

msa_by_pop.loc[msa_by_pop['Rank']>300]
# Yes, msa_by_pop['Rank'] does also select the column, 
# but notice that it gives a Series instead of a dataframe one column.

In [ ]:
# This expression finds all the rows where the value in the Rank column is greater than 300,
msa_by_pop['Rank']>300
#

In order to filter by more than one condition, you must: 
1. Put all conditions in `()`
2. Separate the condtions by: 

    a. `|` if an `OR` condition     
    b. `&` if an `AND` condition

In [ ]:
msa_by_pop[(msa_by_pop['Rank']>300) & (msa_by_pop['MSA'].str.contains('NY'))]

In [ ]:
msa_by_pop[(msa_by_pop['Rank']>300) | (msa_by_pop['MSA'].str.contains('NY'))]

## 2.6 Modifying elements
Essentially, in the same way that we can select elements we can also update them using the same logic.

In [ ]:
### Filter for population value
msa_by_pop.loc[msa_by_pop['population_2020']==20140470,'population_2020']

In [ ]:
# This is the same as above, but we are assigning the value 20000000 to the population_2021_est column
msa_by_pop.loc[msa_by_pop['population_2020']==20140470,'population_2020'] = 20000000

## 2.7 Pandas Arithmetics
Pandas arithmetics are vectorized, meaning that the operation is applied to each element in the column.

In [ ]:
# Pandas arithmetics are vectorized, meaning that the operation is applied to each element in the column
msa_by_pop['population_2020'] / 1000000

In [ ]:
# We can assign the result of this operation to a new column
msa_by_pop['population_2020_millions'] = msa_by_pop['population_2020'] / 1000000

In [ ]:
# This multiplies the population_2020 column by 2 
msa_by_pop['population_2020'] * 2

In [ ]:
# This takes the square of the population_2020 column
msa_by_pop['population_2020'] **2

We can find the sum by using the sum method. Note that the sum method ignores missing values by default

In [ ]:
msa_by_pop['population_2020'].sum()

In [ ]:
msa_by_pop['population_2020'].mean()

In [ ]:
msa_by_pop['population_2020'].median()

In [ ]:
msa_by_pop['population_2020'].std()

# 3. Good Coding Practices

The following are some good practices for writing more legible Jupyter notebooks. Often, we don't necessarily realize that code we write isn't immediately interpretable to readers. To make code more easily interpreted, we will often explain through markdown text or comments what we are doing.

## 3.1 Markdown and explanatory cells
As you can see in this notebook, there are many "Markdown" cells surrounding our actual code. The markdown I have here describes the purpose of each code cell and what I wanted to do with it. 

I often organize my notebooks by header size `#`, `##` etc, and by numbering the different sections. This can be helpful if you're writing an especially long notebook. 

Here's a [guide on how to write in Markdown](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax).

## 3.2 Indents
Indents are very important in python.

In [ ]:
# Indents are important in Python! 
# They tell Python what code is part of a function or loop.
# This is a for loop.
for i in range(5):
    print(i)
# This will give you an error: 
for i in range(5):
print(i)

## 3.3 Commenting
Code comments are lines that start with a #. They are not executed by Python. They are used to explain what the code does.

You can see that sometimes I have small notes in there that maybe didn't need to go into the markdown cell.

In [ ]:
# This is a code comment
msa_by_pop[(msa_by_pop['Rank']>300) & (msa_by_pop['MSA'].str.contains('NY')) & (msa_by_pop['population_2020']>100000)]

## 3.4 Selecting variable names
There are two aspects of selecting variable names we're going to go over today: 
1. What to name your variables or function
2. How to name a multi-word variable or function

### 3.3.1
A good variable name should: 
- Be clear and concise.
- Be written in English. A general coding practice is to write code with variable names in English, as that is the most likely common language between programmers. Thus, variable names such as muuttuja (which is also not a good name on other levels) should be avoided.
- Not contain special characters. Python supports use of special characters by way of various encoding options that can be given in a program. That said, it is better to avoid variables such as lämpötila because encoding issues can arise in some cases. Better to stick to the standard printable ASCII character set to be safe.
- Not conflict with any Python keywords, such as for, True, False, and, if, or else. These are reserved for special operations in Python and cannot be used as variable names.

In [ ]:
# Do not do this: 
finnishmeteorlogicalinstituteobservationstationidentificationnumber = "101533"

In [ ]:
# Or this: 
f = "101533"

In [ ]:
# Something that is as short as possible while still being descriptive is best
sid = "101533"

### 3.3.2 Snake case and camel case
There are two general ways of connecting variable and function names that contain more than one word. 

You can see from the above exercise that I've named my DataFrame `msa_by_pop`. Connecting words by `_`  is called "Snake Case". 

Another convention is to use capital letters to start new words. `MsaByPop` could be another way to name our variable.

# 4. In-Class Exercises
Each week, we will have in-class exercises that give you some pratice on the concepts learned in class.

## 4.1. Exercise 1 
We are going to use the `msa_by_pop` data frame we created above.

In [7]:
msa_by_pop

,Rank,MSA,population_2021_est,population_2020,perc_change,Encompassing_combined_statistical_area
1,1,"New York–Newark–Jersey City, NY-NJ MSA",19557311.0,20081935.0,−2.61%,"New York–Newark, NY-NJ-CT-PA CSA"
2,2,"Los Angeles–Long Beach–Anaheim, CA MSA",12872322.0,13200998.0,−2.49%,"Los Angeles–Long Beach, CA CSA"
3,3,"Chicago–Naperville–Elgin, IL-IN MSA",9274140.0,9449351.0,−1.85%,"Chicago–Naperville, IL-IN-WI CSA"
4,4,"Dallas–Fort Worth–Arlington, TX MSA",7943685.0,7637387.0,+4.01%,"Dallas–Fort Worth, TX-OK CSA"
5,5,"Houston–Pasadena–The Woodlands, TX MSA",7368466.0,7149642.0,+3.06%,"Houston–Pasadena, TX CSA"
...,...,...,...,...,...,...
383,383,"Lewiston, ID-WA MSA",65512.0,64375.0,+1.77%,NaN
384,384,"Enid, OK MSA",61920.0,62846.0,−1.47%,NaN
385,385,"Walla Walla, WA MSA",61890.0,62584.0,−1.11%,"Kennewick–Richland-Walla Walla, WA CSA"
386,386,"Carson City, NV MSA",58130.0,58639.0,−0.87%,"Reno–Carson City–Gardnerville Ranchos, NV-CA CSA"
387,387,"Eagle Pass, TX",57843.0,57887.0,−0.08%,NaN

Which is the MSA with the 10th largest population for 2020?

In [ ]:
## Insert your code here

Select the smallest 10 MSAs by 2020 Census population

In [ ]:
## Insert your code here

Find the total 2020 Census population of these 384 MSAs.

In [ ]:
## Insert your code here

Based on the population in 2020 and assuming a 2% population increase across all cities, let's estimate the population in 2022 using the following function: 

$$
pop_{year2020+t} =pop_{year2020}*(1+ {\% change})^t
$$


where  $\% change$ is positive 2%.

First, what's t?

In [ ]:
## Insert your code here
t=

Now create another column called `population_2022_estimate` and estimate the 2022 population counts using the formula above.

In [ ]:
## Insert your code here
msa_by_pop['population_2022_estimate']=